$main-color: #F1F4F9;

$text-color-black: #122945;
$text-color-gray: #5E7793;

$white-color: #fff;
$color-red: #EA1A4F;
$color-light-red: #FEE9EF;
$color-green: #00A775;
$color-light-green: #DBF8EF;
$color-gray: #ADBFDF;
$color-light-gray: #D8E4FB;
$color-blue: #002CFB;
$shadow: #E9EDF3;
$hover: #DEE4FF;
